#crumbs {
    text-align: center;
}

#crumbs ul {
    display: inline-table;
    list-style: none;
}

#crumbs ul li {
    display: inline;
}

#crumbs ul li a {
    display: block;
    float: left;
    position: relative;
    height: 40px;
    margin: 0 2px 0 0;
    padding: 14px 0px 8px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    color: #fff;
    background: #3498db;
}

#crumbs ul li a.disabled {
    /*background: #fc5151;*/
    background: #d9534f;
}

#crumbs ul li a.disabled:after {
	/*border-left: 20px solid #fc5151;*/
	border-left: 20px solid #d9534f;
}

#crumbs ul li a.enabled {
    background: #5cb85c;
}

#crumbs ul li a.enabled:after {
	border-left: 20px solid #5cb85c;
}

#crumbs ul li a:after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    right: -20px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #3498db;
}

#crumbs ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #fff;
}

#crumbs ul li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#crumbs ul li:first-child a:before {
    display: none;
}

#crumbs ul li:last-child a {
    padding-right: 20px;
    padding-left: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#crumbs ul li:last-child a:after {
    display: none;
}

#crumbs ul li a:hover {
    cursor: default;
}
/*#crumbs ul li a:hover {
    background: #fa5ba5;
}
*/
/*#crumbs ul li a:hover:after {
    border-left-color: #fa5ba5;
}*/